{% extends 'base.html.twig' %}

{% block body %}
    <header  class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                {{ 'Project.add'|trans }}
            </div>
        </div>
    </header>
    <section class="section">
        <div class="container is-fluid">
        {{ form_start(form) }}
            <div class="field">
                <label class="label">{{ form_label(form.name) }}</label>
                <div class="control">
                    {{ form_widget(form.name) }}
                </div>
            </div>
            <div class="field">
                <label class="label">{{ form_label(form.code) }}</label>
                <div class="control">
                    {{ form_widget(form.code) }}
                </div>
            </div>
            <div class="control">
                {{ form_widget(form.save) }}
            </div>
        {{ form_errors(form) }}
        {{ form_end(form) }}
        </div>
    </section>
{% endblock %}
