{% extends 'layout/full-width.html.twig' %}

{% block page %}

	{% embed '_page.html.twig' %}
		{% block page_content %}
			<div class="hero">
				<div class="row">
					<div class="col col-12 col-md-6"></div>
					<div class="col col-12 col-md-6">
						<div class="content-text">
							<h1>{{ 'index.title'| trans }}</h1>
							<p>
								{{ 'dashboard.intro_text' | trans }}
							</p>
							<a class="btn btn-primary" href="{{ path('login') }}">{{ 'login'|trans }}</a>
							<a class="btn btn-outline-primary" href="{{ path('register') }}">{{ 'register'|trans }}</a>
						</div>
					</div>
				</div>
			</div>
		{% endblock %}
	{% endembed %}
{% endblock %}
{% block javascripts %}
	{{ parent() }}
{% endblock %}
