{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col s12">
            <h1>Register</h1>

            {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.plainPassword.first) }}
                {{ form_row(registrationForm.plainPassword.second) }}
                {{ form_row(registrationForm.agreeTerms) }}
                {{ form_row(registrationForm.accountType) }}
                <div id="accoutTypeForm">
                <div>

                <button class="btn">Register</button>
                {{ form_errors(registrationForm) }}
            {{ form_end(registrationForm) }}
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('register-form') }}
{% endblock %}