{% extends 'base.html.twig' %}

{% block body %}
    <header  class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1>{{ 'Results'|trans }}</h1>
            </div>
        </div>
    </header>

    <section class="section">
        <div class="container is-fluid">
            <div class="row justify-content-center">
                <div class="col-5">
                    <h2>{{ 'Total By Projects' }}</h2>
                    {% for project in projects %}
                        <h3>{{ project.name }}</h3>
                        <table>
                            <thead>
                            <tr>
                                {% for task in project.tasks %}
                                    <th>{{ task.name }}</th>
                                {% endfor %}
                                <th>{{ 'Total'|trans }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                {% set total = 0 %}
                                {% for task in project.tasks %}
                                    {% set total = task.total + total %}
                                    <td>{{ task.total }}</td>
                                {% endfor %}
                                <td>{{ total }}</td>
                            </tr>
                            </tbody>
                        </table>
                    {% endfor %}
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-5">
                    <h2>{{ 'Total By Tasks' }}</h2>
                    {% for task in tasks %}
                        <h3>{{ task.name }}</h3>
                        <table>
                            <thead>
                            <tr>
                                {% for project in task.projects %}
                                    <th>{{ project.name }}</th>
                                {% endfor %}
                                <th>{{ 'Total'|trans }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                {% set total = 0 %}
                                {% for project in task.projects %}
                                    {% set total = project.total + total %}
                                    <td>{{ project.total }}</td>
                                {% endfor %}
                                <td>{{ total }}</td>
                            </tr>
                            </tbody>
                        </table>
                    {% endfor %}
                </div>
            </div>

            <hr>

            <h2>{{ 'All the records'|trans }}</h2>
            <table>
                <thead>
                <tr>
                    <th>{{ 'Project'|trans }}</th>
                    <th>{{ 'Task'|trans }}</th>
                    <th>{{ 'User'|trans }}</th>
                    <th>{{ 'StartTime'|trans }}</th>
                    <th>{{ 'EndTime'|trans }}</th>
                    <th>{{ 'Time Spent'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for time in times %}
                    {% set difference = date(time.endTime).diff(date(time.startTime)) %}
                    <tr>
                        <td>{{ time.project.name }}</td>
                        <td>{{ time.task.name }}</td>
                        <td>{{ time.user.username }}</td>
                        <td>{{ time.startTime|date('Y-m-d H:i') }}</td>
                        <td>{{ time.endTime|date('Y-m-d H:i') }}</td>
                        <td>{{ time.diff }} hour(s)</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <hr>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
