{% extends 'layout/left-side-column.html.twig' %}

{% block page %}
	{% embed "_page.html.twig" %}
		{% block page_title %}
			{{ 'Profile'|trans }}
		{% endblock %}

		{% block page_content %}
			<div class="row">
				<div class="col-md-12">
					<div class="tile">
						<table class="table table-hover table-striped table-bordered">
							<tbody>
							<tr>
								<th>{{ 'user.name'|trans }}</th>
								<td>{{ user.username }}</td>
							</tr>
							<tr>
								<th>{{ 'user.email'|trans }}</th>
								<td>{{ user.email }}</td>
							</tr>
							</tbody>
						</table>

						<a class="btn btn-outline-primary" href="{{ path('profile_edit') }}">{{ 'user.edit' | trans }}</a>
						<a class="btn btn-outline-secondary" href="{{ path('profile_password_edit', {'id': user.id}) }}">{{ 'user.password.edit' | trans }}</a>
					</div>
				</div>
			</div>
		{% endblock %}
	{% endembed %}
{% endblock %}
