{% extends 'layout/left-side-column.html.twig' %}

{% block page %}
	{% embed "_page.html.twig" %}
		{% block page_title %}
			{{ 'Edit Company'|trans }}
		{% endblock %}

		{% block page_content %}
			<section class="section">
				<div class="container is-fluid">
					{{ form_start(form) }}
					{{ form_widget(form) }}
					<button class="btn">{{ button_label|default('Save') }}</button>
					{{ form_end(form) }}
				</div>
			</section>
		{% endblock %}
	{% endembed %}
{% endblock %}
