{% extends 'layout/left-side-column.html.twig' %}

{% block page %}
	{% embed '_page.html.twig' %}
		{% block page_title %}
			{{ 'company.title' | trans }}
		{% endblock %}
    	{% block page_content %}
			<div class="row">
				<div class="col-md-12">
					<div class="tile">
						<table class="table table-bordered table-hover">
							<tbody>
							<tr>
								<th>{{ 'company.name' | trans }}</th>
								<td>{{ company.name }}</td>
							</tr>
							<tr>
								<th>{{ 'company.address' | trans }}</th>
								<td>{{ company.address }}</td>
							</tr>
							<tr>
								<th>{{ 'company.zipcode' | trans }}</th>
								<td>{{ company.zipCode }}</td>
							</tr>
							<tr>
								<th>{{ 'company.city' | trans }}</th>
								<td>{{ company.city }}</td>
							</tr>
							<tr>
								<th>{{ 'company.country' | trans }}</th>
								<td>{{ company.Country }}</td>
							</tr>
							<tr>
								<th>{{ 'company.email' | trans }}</th>
								<td>{{ company.email }}</td>
							</tr>
							<tr>
								<th>{{ 'company.tel' | trans }}</th>
								<td>{{ company.tel }}</td>
							</tr>
							<tr>
								<th>{{ 'company.token' | trans }}</th>
								<td>{{ company.token }}</td>
							</tr>
							</tbody>
						</table>

						<a class="btn btn-outline-primary" href="{{ path('company_edit', {'id': company.id}) }}">{{ 'company.edit' | trans }}</a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					{% if allowAddCompany is same as 'true' %}
						<a class="btn btn-outline-primary" href="{{ path('company_add') }}">{{ 'company.add' | trans }}</a>
					{% endif %}
				</div>
		{% endblock %}
	{% endembed %}
{% endblock %}
