{% extends 'base.html.twig' %}

{% block title %}Tempo - Times{% endblock %}

{% block body %}

    <header  class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                {{ 'Times list'|trans }}
            </div>
        </div>
    </header>

    {% if timeToDelete is not null %}
        <div class="modal is-active">
            <div class="modal-background"></div>
            <div class="modal-content">
                <div class="notification is-warning">
                    <p>
                        {% trans %}
                            Are you sure to delete this time ?
                            You cannot reverse this action.
                        {% endtrans %}
                    </p>
                    <div class="buttons">
                        <form method="POST" action="{{ path('deltask') }}">
                            <input type="hidden" value="{{ timeToDelete }}" name="id">
                            <button type="submit" class="button is-danger">Yes I am sure !</button>
                        </form>
                        <a href="{{ path('listtimes') }}" class="button is-success is-light">No, please cancel.</a>
                    </div>
                </div>
            </div>
            <a href="{{ path('listtimes') }}" class="modal-close is-large" aria-label="close"></a>
        </div>
    {% endif %}

    <section class="section">
        <div class="container is-fluid">
            <a class="button is-primary" href="{{ path('addtime') }}">New Time</a>

            <table class="table is-hoverable is-striped is-fullwidth">
                <thead>
                <tr>
                    <th>{{ 'Project'|trans }}</th>
                    <th>{{ 'Task'|trans }}</th>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <th>User</th>
                    {% endif %}
                    <th>Date</th>
                    <th>Hours</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                {% for time in times %}
                    <tr>
                        <td>{{ time.project.name }}</td>
                        <td>{{ time.task.name }}</td>
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <td>{{ time.user.username }}</td>
                        {% endif %}
                        <td>{{ time.date|date('Y-m-d') }}</td>
                        <td>{{ time.time }}</td>
                        <td><a class="button is-primary" href="{{ path('modtime', {'id':time.id}) }}">Edit</a></td>
                        <td>
                            <form action="{{ path('listtimes') }}" method="post">
                                <input type="hidden" value="{{ time.id }}" name="timeToDelete">
                                <button class="button is-warning" type="submit">Delete</button>
                            </form>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>

{% endblock %}
