<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Temporela{% endblock %}</title>

        <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
        <link href="css/jquery-ui.css" rel="stylesheet">
        <link href="css/jquery.dataTables.min.css" rel="stylesheet">
        <link href="css/buttons.dataTables.min.css" rel="stylesheet">
        <link href="css/chosen.min.css" rel="stylesheet">
        <link href="css/temporela.css" rel="stylesheet">
        <link href="css/temporela-usermanagement.css" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="images/favicon.ico" />
        <script src="https://kit.fontawesome.com/475b9c34ec.js" crossorigin="anonymous"></script>

        {% block stylesheets %}
        {% endblock %}

    </head>
    <body>
        
        <div id='main-menu'>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <ul>
                        <li>
                            <a href="{{ path('listusers') }}"><i class="fas fa-users" title="{{ 'Gestion Utilisateurs'|trans }}"></i></a>
                        </li>
                        <li>
                            <a href="{{ path('listdossier') }}"><i class="fas fa-folder" title="{{ 'Gestion des Dossiers'|trans }}"></i></a>
                        </li>
                        <li>
                            <a href="{{ path('listtache') }}"><i class="fas fa-thumbtack" title="{{ 'Gestion des Tâches'|trans }}"></i></a>
                        </li>
                        <li>
                            <a href="{{ path('listtemps') }}"><i class="fas fa-clock" title="{{ 'Gestion du Temps'|trans }}"></i></a>
                        </li>
                        <li>
                            <a href="{{ path('recap') }}"><i class="fas fa-chart-bar" title="{{ 'Récapitulatif'|trans }}"></i></a>
                        </li>
                    </ul>
                {% elseif is_granted('ROLE_USER') %}
                    <ul>
                        <li>
                            <a href="{{ path('listtempscollaborateur') }}">{{ 'Gestion du temps'|trans }}</a>
                        </li>
                    </ul>
                {% else %}
                    <ul>
                        <li>
                            <a href="{{ path('fos_user_security_login') }}">{{ 'Se connecter'|trans }}</a>
                        </li>
                    </ul>
                {% endif %}            
            </div>
            
        <div id="contentAll">      
                {% if app.user is not null %}  
                    <div id='current-user'>
                        <a href="{{ path('fos_user_profile_show') }}"><i class="fas fa-user-tie" title="{{ app.user.username }}"></i></a>
                        |
                        <a href="{{ path('fos_user_security_logout') }}"><i class="fas fa-sign-out-alt" title="{{ 'Quitter'|trans }}"></i></a>
                    </div>
                {% endif %}

            {% for message in app.flashes('success') %}
                <div class="success">{{ message }}</div>
            {% endfor %}
            {% for message in app.flashes('error') %}
                <div class="error">{{ message }}</div>
            {% endfor %}
            
            {% block body %}
            {% endblock %}

            <script src="js/jquery-1.12.4.js"></script>
            <script src="js/jquery-ui.min.js"></script>
            <script src="js/jquery.dataTables.min.js"></script>
            <script src="js/dataTables.buttons.min.js"></script>
            <script src="js/moment.min.js"></script>
            <script src="js/jszip.min.js"></script>
            <script src="js/pdfmake.min.js"></script>
            <script src="js/vfs_fonts.js"></script>
            <script src="js/buttons.html5.min.js"></script>
            <script src="js/chosen.jquery.js"></script>
            <script src="js/jquery.collection.js"></script>
            <script src="js/temporela.js"></script>

            {% block javascripts %}
            {% endblock %}    
        </div>
    </body>
</html>
