{% extends 'base.html.twig' %}

{% block body %}

    <div class="pageTitle">
        Choisir les paramètres pour filtrer les données
    </div>

    <div id="recapform1" class="recapform">
    <h2>Par dossier et exercice</h2>
        {{ form_start(form1) }}
        {{ form_errors(form1) }}
        {{ form_end(form1) }}
    </div>

    <div id="recapform2" class="recapform">
        <h2>Par collaborateur et exercice</h2>
        {{ form_start(form2) }}
        {{ form_errors(form2) }}
        {{ form_end(form2) }}
    </div>
                 
{% endblock %}
    