{% extends 'layout/left-side-column.html.twig' %}

{% block title %}Tempo - Times{% endblock %}


{% block page %}
	{% embed "_page.html.twig" %}
		{% block page_title %}
			{{ 'Times list'|trans }}
		{% endblock %}

		{% block page_content %}
            <div class="row">
                <div class="col-md-12">
                    <div class="tile">
                        {% if timeToDelete is not null %}
                            <p>
                                {% trans %}
                                    Are you sure to delete this time ?
                                    You cannot reverse this action.
                                {% endtrans %}
                            </p>
                            <form method="POST" action="{{ path('delete_time') }}">
                                <input type="hidden" value="{{ timeToDelete }}" name="id">
                                <button type="submit" class="btn btn-danger">Yes I am sure !</button>
                            </form>
                            <a href="{{ path('list_times') }}" class="btn btn-success">No, please cancel.</a>
                        {% endif %}

                        <a class="btn btn-outline-success" href="{{ path('add_time') }}">New Time</a>

                        <table class="table table-hover table-striped table-bordered">
                            <thead>
                            <tr>
                                <th>{{ 'Project'|trans }}</th>
                                <th>{{ 'Task'|trans }}</th>
                                {% if is_granted('ROLE_SUPER_ADMIN') %}
                                    <th>{{ 'User'|trans }}</th>
                                {% endif %}
                                <th>{{ 'startTime'|trans }}</th>
                                <th>{{ 'endTime'|trans }}</th>
                                <th>{{ 'Edit'|trans }}</th>
                                <th>{{ 'Delete'|trans }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for time in times %}
                                <tr>
                                    <td>{{ time.project.name }}</td>
                                    <td>{{ time.task.name }}</td>
                                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                                        <td>{{ time.user.username }}</td>
                                    {% endif %}
                                    <td>{{ time.startTime|date('Y-m-d H:i') }}</td>
                                    <td>{{ time.endTime|date('Y-m-d H:i') }}</td>
                                    <td>
                                        {% if time.user == app.user %}
                                            <a class="btn btn-outline-primary" href="{{ path('edit_time', {'id':time.id}) }}">Edit</a>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <form action="{{ path('list_times') }}" method="post">
                                            <input type="hidden" value="{{ time.id }}" name="timeToDelete">
                                            <button class="btn btn-outline-danger" type="submit">Delete</button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
		{% endblock %}
	{% endembed %}
{% endblock %}
