{% extends 'layout/left-side-column.html.twig' %}

{% block title %}Tempo - Times{% endblock %}


{% block page %}
	{% embed "_page.html.twig" %}
		{% block page_title %}
			{{ 'Times list'|trans }}
		{% endblock %}

		{% block page_content %}
            <div class="row">
                <div class="col-md-12">
                    <div class="tile">
                        {% if timeToDelete is not null %}
                            <p class="alert alert-danger">
                                {{ 'time.alert_msg' | trans }}
                            </p>
                            <div class="modal-footer">
                                <form method="POST" action="{{ path('delete_time') }}">
                                    <input type="hidden" value="{{ timeToDelete }}" name="id">
                                    <button type="submit" class="btn btn-secondary">{{ 'yes_msg' | trans }}</button>
                                </form>
                                <a href="{{ path('list_times') }}" class="btn btn-primary">{{ 'no_msg' | trans }}</a>
                            </div>
                        {% endif %}

                        <a class="btn btn-outline-success" href="{{ path('add_time') }}">{{ 'New Time' | trans }}</a>

                        <table class="table table-hover table-striped table-bordered">
                            <thead>
                            <tr>
                                <th>{{ 'time.project'|trans }}</th>
                                <th>{{ 'time.task'|trans }}</th>
                                {% if is_granted('ROLE_SUPER_ADMIN') %}
                                    <th>{{ 'time.user'|trans }}</th>
                                {% endif %}
                                <th>{{ 'time.start_time'|trans }}</th>
                                <th>{{ 'time.end_time'|trans }}</th>
                                <th>{{ 'Edit'|trans }}</th>
                                <th>{{ 'Delete'|trans }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for time in times %}
                                <tr>
                                    <td>{{ time.project.name }}</td>
                                    <td>{{ time.task.name }}</td>
                                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                                        <td>{{ time.user.username }}</td>
                                    {% endif %}
                                    <td>{{ time.startTime|date('Y-m-d H:i') }}</td>
                                    <td>{{ time.endTime|date('Y-m-d H:i') }}</td>
                                    {% if time.user == app.user or is_granted('ROLE_SUPER_ADMIN') %}
                                    <td>
                                        <a class="btn btn-outline-primary" href="{{ path('edit_time', {'id':time.id}) }}">{{ 'Edit' | trans }}</a>
                                    </td>
                                    <td>
                                        <form action="{{ path('list_times') }}" method="post">
                                            <input type="hidden" value="{{ time.id }}" name="timeToDelete">
                                            <button class="btn btn-outline-danger" type="submit">{{ 'Delete' | trans }}</button>
                                        </form>
                                    </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
		{% endblock %}
	{% endembed %}
{% endblock %}
