{% extends 'layout/left-side-column.html.twig' %}

{% block page %}
	{% embed "_page.html.twig" %}
		{% block page_title %}
			{{ 'Analytics'|trans }}
		{% endblock %}

		{% block page_content %}
			<div class="row">
				<div class="col-md-12">
					<div class="tile">
						{{ form_start(form) }}
						<div class="form-group">
							{{ form_label(form.project) }}
							{{ form_widget(form.project) }}
						</div>
						<div class="form-group">
							{{ form_label(form.task) }}
							{{ form_widget(form.task) }}
						</div>
						{% if form.user is defined %}
						<div class="form-group">
							{{ form_label(form.user) }}
							{{ form_widget(form.user) }}
						</div>
						{% endif %}
						<div class="form-group">
							{{ form_label(form.startTime) }}
							{{ form_widget(form.startTime) }}
							{{ form_label(form.endTime) }}
							{{ form_widget(form.endTime) }}
							{{ form_label(form.forever) }}
							{{ form_widget(form.forever) }}
						</div>
						{{ form_widget(form.calculate) }}
						{{ form_errors(form) }}
						{{ form_end(form) }}
					</div>
				</div>
			</div>
		{% endblock %}
	{% endembed %}
{% endblock %}

{% block footer %}
	{{ parent() }}
	{% block javascripts_footer %}
		{{ encore_entry_script_tags('analytics-form') }}
	{% endblock %}
{% endblock %}

