{% extends 'base.html.twig' %}

{% block title %}Tempo - tasks{% endblock %}

{% block body %}
    <header  class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                {{ 'Tasks list'|trans }}
            </div>
        </div>
    </header>

    {% if taskToDelete is not null %}
        <p>
            {% trans %}
                Are you sure to delete this task ? Times recorded to this task will also be lost.
                You cannot reverse this action.
            {% endtrans %}
        </p>
            <form method="POST" action="{{ path('delete_task') }}">
                <input type="hidden" value="{{ taskToDelete }}" name="id">
                <button type="submit" class="button is-danger">Yes I am sure !</button>
            </form>
            <a href="{{ path('list_tasks') }}" class="button is-success is-light">No, please cancel.</a>
    {% endif %}

    <section class="section">
        <div class="container is-fluid">
            <a class="button is-primary" href="{{ path('add_task') }}">New Task</a>

            <table class="table is-hoverable is-striped is-fullwidth">
                <thead>
                    <tr>
                        <th>{{ 'Code'|trans }}</th>
                        <th>{{ 'Name'|trans }}</th>
                        <th>{{ 'Mother task'|trans }}</th>
                        <th>{{ 'Edit'|trans }}</th>
                        <th>{{ 'Delete'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                {% for task in tasks %}
                    <tr>
                        <td>{{ task.name }}</td>
                        <td>{{ task.code }}</td>
                        <td>
                            {% if task.motherTask is not null %}
                                {% if task.motherTask.code is not null %} {{ task.motherTask.code }} {% endif %}
                                - {{ task.motherTask.name }}
                            {% endif %}
                        </td>
                        <td><a class="button is-primary" href="{{ path('edit_task', {'id':task.id}) }}">Edit</a></td>
                        <td>
                            <form action="{{ path('list_tasks') }}" method="post">
                                <input type="hidden" value="{{ task.id }}" name="taskToDelete">
                                <button class="button is-warning" type="submit">Delete</button>
                            </form>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}
