{% extends 'layout/full-width.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block page %}
	{% if error %}
		<article class="message is-danger">
			<div class="message-body">
				{{ error.messageKey|trans(error.messageData, 'security') }}
			</div>
		</article>
	{% endif %}

	{% if app.user %}
		<article class="message is-primary">
			<div class="message-body">
				You are logged in as
				{{ app.user.username }},
				<a href="{{ path('app_logout') }}">Logout</a>
			</div>
		</article>
	{% endif %}
	<section class="login-content">

		<form method="post">
			<div class="login-box">
				<div class="form-header">
					<h2 class="login-title">
						Log in
					</h2>
				</div>
                <div class="form-body">
                    <div class="form-group">
                        <label class="label-control" for="inputEmail">
                            Email
                        </label>
                        <div class="control">
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="label-control">
                            Password
                        </label>
                        <div class="control">
                            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
                        </div>
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <div class="checkbox">
                        <label>
                            <input class="checkbox" type="checkbox" name="_remember_me"/>
                            <span>Remember me</span>
                        </label>
                    </div>
                    <div class="form-group is-grouped">
                        <div class="control">
                            <button  class="btn btn-primary btn-block" type="submit">
                                Sign in
                            </button>
                        </div>
                    </div>
                </div>
			</div>
		</form>
	</section>

	<div>
		<a href="{{ path('app_ask_reset_password') }}">Forgotten password</a>
	</div>
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}
