{% block navigation_left %}
	<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
	<aside class="app-sidebar">
		<ul class="app-menu">
			{% if is_granted('ROLE_SUPER_ADMIN') %}
				<li>
					<a class="app-menu__item" href="{{ path('company_show') }}">
						<span class="app-menu__label">{{ 'Company Management'|trans }}</span>
					</a>
				</li>
				<li>
					<a class="app-menu__item" href="{{ path('user_list') }}">
						<span class="app-menu__label">{{ 'User Management'|trans }}</span>
					</a>
				</li>
			{% endif %}
			{% if is_granted('ROLE_ADMIN') %}
			<li>
				<a class="app-menu__item" href="{{ path('list_projects') }}">
					<span class="app-menu__label">{{ 'Projects Management'|trans }}</span>
				</a>
			</li>
			<li>
				<a class="app-menu__item" href="{{ path('list_tasks') }}">
					<span class="app-menu__label">{{ 'Tasks Management'|trans }}</span>
				</a>
			</li>
			{% endif %}
			<li>
				<a class="app-menu__item" href="{{ path('list_times') }}">
					<span class="app-menu__label">{{ 'Times Management'|trans }}</span>
				</a>
			</li>
			<li>
				<a class="app-menu__item" href="{{ path('analytics') }}">
					<span class="app-menu__label">{{ 'Analytics'|trans }}</span>
				</a>
			</li>
		</ul>
		{% if app.user.companies|length %}
		<hr>
		<ul class="app-menu">
			{% for company in app.user.companies %}
				<li>
					{% if app.request.cookies.get('_company') != company.id %}
						<a class="app-menu__item" href="{{ path('company_select', {'company': company.id}) }}">
							<span class="app-menu__label">{{ company.name }}</span>
						</a>
					{% else %}
						<a class="app-menu__item active" href="{{ path('company_select', {'company': company.id}) }}">
							<span class="app-menu__label">{{ company.name }}</span>
						</a>
					{% endif %}
				</li>
			{% endfor %}
		</ul>
		{% endif %}


	</aside>
{% endblock %}
