{% extends 'base.html.twig' %}

{% block title %}Tempo - projects{% endblock %}

{% block body %}
    <header  class="hero is-primary">
        <div class="hero-body">
            <div class="container">
            {{ 'Projects list'|trans }}
        </div>
        </div>
    </header>

    {% if projectToDelete is not null %}
    <div class="modal is-active">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="notification is-warning">
                <p>
                {% trans %}
                    Are you sure to delete this project ? Times recorded to this project will also be lost.
                    You cannot reverse this action.
                {% endtrans %}
                </p>
                <div class="buttons">
                    <form method="POST" action="{{ path('delproject') }}">
                        <input type="hidden" value="{{ projectToDelete }}" name="id">
                        <button type="submit" class="button is-danger">Yes I am sure !</button>
                    </form>
                    <a href="{{ path('listprojects') }}" class="button is-success is-light">No, please cancel.</a>
                </div>
            </div>
        </div>
        <a href="{{ path('listprojects') }}" class="modal-close is-large" aria-label="close"></a>
    </div>
    {% endif %}

    <section class="section">
        <div class="container is-fluid">
            <a class="button is-primary" href="{{ path('addproject') }}">New project</a>

            <table class="table is-hoverable is-striped is-fullwidth">
                <thead>
                    <tr>
                        <th>{{ 'Code'|trans }}</th>
                        <th>{{ 'Name'|trans }}</th>
                        <th>{{ 'Edit'|trans }}</th>
                        <th>{{ 'Delete'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                {% for project in projects %}
                    <tr>
                        <td>{{ project.code }}</td>
                        <td>{{ project.name }}</td>
                        <td><a class="button is-primary" href="{{ path('modproject', {'id': project.id}) }}">{{ 'Edit'|trans }}</a></td>
                        <td>
                            <form action="{{ path('listprojects') }}" method="post">
                                <input type="hidden" value="{{ project.id }}" name="projectToDelete">
                                <button class="button is-warning" type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
{% endblock %}
