{% extends 'base.html.twig' %}

{% block body %}
    
    {% for message in app.flashes('success') %}
        <div class="success">{{ message }}</div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="error">{{ message }}</div>
    {% endfor %}

    <div class="pageTitle">
        Gestion du temps passé
    </div>
    
    <a href="{{ path('addtemps') }}"><input type="button" value="Enregistrer un temps passé"></a>
    <br><br><br><br>
    Tableau des temps pour aujourd'hui :
    <br>
    <table id="" cellspacing="0" width="100%" class="display list_table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Exercice</th>
            <th>Dossier</th>
            <th>Tâche</th>
            <th>Collaborateur</th>
            <th>Temps passé</th>
            <th>Modifier</th>
            <th>Supprimer</th>
        </tr>
        </thead>
        <tbody>
        {% for Temps in listTemps %}
            {% if Temps.date|date('Ymd') == "now"|date('Ymd') %}
                <tr>
                    <td>{{ Temps.id }}</td>
                    <td>{{ Temps.date|date('d/m/Y') }}</td>
                    <td>{{ Temps.exercice }}</td>
                    <td>{% if Temps.dossier != null %}
                            {{ Temps.dossier.numero }} - {{ Temps.dossier.nom }}
                        {% else %}
                            Dossier inexistant
                        {% endif %}</td>
                    <td>{% if Temps.tache != null %}
                            {{ Temps.tache.numero }} - {{ Temps.tache.intitule }}{% else %}
                            Tâche inexistante
                        {% endif %}</td>
                    <td>{% if Temps.collaborateur != null %}
                            {{ Temps.collaborateur.username }}
                        {% else %}
                            Collaborateur inexistant
                        {% endif %}</td>
                    <td>{{ Temps.tempspasse }}</td>
                    <td><a href="{{ path('modtemps', {'id':Temps.id}) }}">Modifier</a></td>
                    <td><a class="confirmation" href="{{ path('deltemps', {'id':Temps.id}) }}">Supprimer</a></td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('listalltempscollaborateur') }}"><input type="button" value="Voir tous les temps"></a>
                 
{% endblock %}
    